

<head>
    <link rel="stylesheet" href="~/css/event/index.css"/>
    <script src="~/js/event/index.js"></script>
</head>
@{
    ViewData["Title"] = "Upcoming events";
}
<a asp-action="Create" class="btn btn-block btn-primary">Create new event</a>
<hr/>
<div id="events">
    
</div>

<button id="load-more-personal-events-button" style="width:100%" class="btn btn-primary">Load more</button>
<hr/>



