@model Cycler.Views.Models.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home/index.css"/>
</head>

<div class="sidebar">
    <a disabled="true">Active friends</a>
    @foreach (var user in Model.ActiveFriends)
    {
        <div>
            <a href="/User/Profile/@user.Id">@user.FirstName @user.LastName</a>
        </div>
    }
    <hr/>

</div>