@model Cycler.Views.Models.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home/index.css"/>
    <script src="~/js/home/index.js"></script>
</head>

<div class="sidebar">
    @if (Model.ActiveFriends.Count > 0)
    {
        <a disabled="true">Active friends</a>
    }
    else
    {
        <a disabled="true">You don't have any active  friends</a>
    }

    @foreach (var user in Model.ActiveFriends)
    {
        <div>
            <a href="/User/Profile/@user.Id">@user.FirstName @user.LastName</a>
        </div>
    }
    <hr/>
    
    @if (Model.ActiveEvents.Count > 0)
    {
        <a disabled="true">Active events</a>
    }
    else
    {
        <a disabled="true">You don't have any active events</a>
    }
    
    @foreach (var ev in Model.ActiveEvents)
    {
        <div>
            <a href="/Event/Details/@ev.Id">@ev.Name</a>
        </div>
    }

</div>

<div id="feed">
</div>
<button id="load-more-feed-button" style="width:100%" class="btn btn-primary">Load more</button>